@charset "UTF-8";

/* ----- Grundstil för webbsidan ----- */

html {
    font-size: 16px;
}

html, body, nav, header, main, aside, footer, article, section, div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e1d5b7;
    color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 800px;
    margin: 0 auto;
}

h2, h3 {
    background-color: #e6b077;
    margin: 0;
    padding: 8px;
}

#booking {
    padding: 20px;
}

#booking fieldset {
    background-color: rgb(233, 130, 27);
    margin-bottom: 20px;
}

#booking legend {
    font-weight: bold;
}

#send {
    text-align: right;
}

#nyhetsbrev div {
background-color: yellow;    
display: grid;
gap: 0.4em;
white-space: nowrap;

}
/* ----- Stil för formuläret ----- */

